################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/.vs/slnx.sqlite
/graph/arraygraph/Debug
/graph/.vs/graph/v16
/graph/linkedgraph/Debug
/graph/Debug
/graph/.vs/graph/v15
/graph/graphtraversal/x64/Debug
/graph/graphtraversal_bfs/x64/Debug
/graph/x64/Debug
/graph/linkedgraph/x64/Debug
/graph/graphsh/x64/Debug
/graph/graphmst/x64/Debug
/graph/graphmst2/x64/Debug
/graph/arraygraph/x64/Debug
/graph/graphexample/x64/Debug
/sort/.vs/sort/v15
/sort/bubbleSort/Debug
/sort/Debug
/sort/selectionSort/Debug
